<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>products</title>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
            width:400px;
            margin: 20px auto;
        }

        td, th {
            border: 1px solid gray;s
        }
    </style>
</head>
<body>
<div>
    <table class="workingArea">
        <thead>
        <th>id</th>
        <th>产品名称</th>
        <th>价格</th>
        </thead>
        <tbody>
        <tr th:each="p: ${p}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.prices}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>